<nav class="kk mob nav1">
      <div class="kk1 mob">
        <h4 class="h4 mob ">Quotes <span>♥</span></h4>
        <i class="fa fa-bars bar mob "></i>
      </div>
      <ul class="ul mob">
        <li class="li mob"><a class="a1" href="http://topquoteslover.com/ ">Home</a></li>
        <li class="li mob"><a class="a1" href="http://topquoteslover.com/ ">Love quotes</a></li>
         <li class="li mob"><a class="a1 aka" href="/quotes ">quotes</a></li>
        
      </ul>
    </nav>