 <!--for mobile-->
  <div class="reg  mob "><p class="p mob">Registration</p></div>
  <div class="mob"><a class="mob h20" href="/regs">Register</a></div>
  <div class="mob"><a class="mob h21"href="/Login">Login</a></div>
  <div style="border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-left-radius: 50%; border-bottom-right-radius: 50%;" data-aos="flip-right" class="form mob">
      <form action="/login" method="POST" class="pure-form mob ">
         
          <div class="row mob">
             
                <input id="input2" style="color: red; position: absolute; left: 25%; width: 50%; height: 7%; margin-top: 32%;" type="text" class="form-control" id="email" placeholder="Enter email" name="email"required="">
              </div>
          
              <!--confrm password-->
              
           <div class="row mob">
          <input id="input3" style="color: red; position: absolute; left: 25%; width: 50%; height: 7%; margin-top: 43%;" type="password" placeholder="Password" id="password" required="">
          </div>
         
        
          

          <div style="position: absolute; bottom: 12%; left: 43%; background-color: red; width: 20%; height: 10%; text-align: center; font-size: 200%; border-top-left-radius: 60%; 
           border-top-right-radius: 60%;
           border-bottom-left-radius: 60%;
           border-bottom-right-radius: 60%;" type="submit" class="btn btn-primary mob">Login</div>
        </form>




  </div> 