<nav class="nav10">
      <div >
        <h4 class="h10">Quotes <span class="span10">♥</span></h4>
        <i class="fa fa-bars"></i>
      </div>
      <ul class="ul10">
        <li class="li10"><a class="a10" href="http://topquoteslover.com/ ">Home</a></li>
        <li class="li10"><a class="a10" href="http://topquoteslover.com/">Love quotes</a></li>
        <li class="li10"><a class="a10 aka" href="/quotes ">Quotes</a></li>
       
      </ul>
    </nav>