<div class="reg  pc "><p class="p pc">Registration</p></div>
  <div class="pc"><a class="pc hh1"href="/regs">Register</a></div>
  <div   class="pc"><a id="ram" class="pc hh2"  href="/Login">Login</a></div>
  <div style="border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-left-radius: 50%; border-bottom-right-radius: 50%;" data-aos="flip-right" class="form pc ">
      <form action="/login" method="POST" class="pure-form pc ">
         
          <div class="row pc">
             
                <input id="input2" style="color: red; position: absolute; left: 25%; width: 50%; height: 7%; margin-top: 6%;"type="text" class="form-control" id="email" placeholder="Enter email" name="email"required="">
              </div>
          
              <!--confrm password-->
              
           <div class="row pc">
          <input id="input3"  style="color: red; position: absolute; left: 25%; width: 50%; height: 7%; margin-top: 12%;" type="password" placeholder="Password" name="password" id="password" required="">
          </div>
         
        
          


          <button value= "regs" style="position: absolute; bottom: 1%; left: 43%; background-color: red; width: 20%; height: 10%; text-align: center; font-size: 200%; border-top-left-radius: 60%; 
           border-top-right-radius: 60%;
           border-bottom-left-radius: 60%;
           border-bottom-right-radius: 60%;" type="submit" class="btn btn-primary pc">Login</button>
        </form>




  </div> 