<div class="reg  tablet "><p class="p tablet">Registration</p></div>
  <div class="tablet" ><a class="tablet hh10"href="/regs">Register</a></div>
  <div class="tablet"><a class="tablet hh11"href="/Login">Login</a></div>

  <div style="border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-left-radius: 50%; border-bottom-right-radius: 50%;" data-aos="flip-right" class="form tablet">
      <form action="/regs" method="POST" class="pure-form tablet ">
          <div class="row  tablet ">
           
              <input  style="color: red; position: absolute; left: 25%; width: 50%; height: 7% ; margin-top: 6%;" id="move1" type="text" class="form-control " placeholder="Enter Name" name="Name"required="">
             
          </div>
          <div class="row tablet">
             
                <input id="input2" style="color: red; position: absolute; left: 25%; width: 50%; height: 7% ; margin-top: 12%;
              "type="text" class="form-control" id="email" placeholder="Enter email" name="email"required="">
              </div>
          
              <!--confrm password-->
              
           <div class="row tablet">
          <input id="input3" style="color: red; position: absolute; left: 25%; width: 50%; height: 7%; margin-top: 18%;" type="password" placeholder="Password" id="password" name="password" required="">
          </div>
          <div class="row tablet">
          <input id="input4" style="color: red; position: absolute; left: 25%; width: 50%; height: 7%; margin-top: 24%;" type="password" placeholder="Confirm Password" id="confirm_password" name="Cpassword" required="">
          </div>
        
          <!--male/female-->
          
          <div class="tablet">
              <h3 id="input5" style="color: red; position: absolute; left: 25%; width: 50%; height: 7% ; margin-top: 31%;">Male/Female</h3>
              <label>
                <input id="input6" style="color: red; position: absolute; left: 25%; width: 50%; height: 7% ; margin-top: 34%; left:1%;"type="checkbox" class="radio" value="Male" name="gender">
                <p id="input7" style="color:black; position: absolute; width: 50%; height: 7% ; margin-top: 34%; left:30.6% ;">Male</p></label>
              <label>
                <input id="input8" style="color:black; position: absolute; width: 50%; height: 7% ; margin-top: 40%; left:1% ;"  type="checkbox" class="radio" value="Female"name="gender">
                <p id="input9" style=" color:black; position: absolute; width: 50%; height: 7% ; margin-top: 40%; left:30.6% ;">Female</p></label>
              
            </div>
  
          <button id="input10" style="position: absolute; bottom: 12%; left: 46.5%;" type="submit" class="pure-button pure-button-primary tablet ">Confirm</button><br>



          <div value= "regs" style="position: absolute; bottom: 1%; left: 43%; background-color: red; width: 20%; height: 10%; text-align: center; font-size: 200%; border-top-left-radius: 60%; 
           border-top-right-radius: 60%;
           border-bottom-left-radius: 60%;
           border-bottom-right-radius: 60%;" type="submit" class="btn btn-primary tablet">Submit</div>
        </form>




  </div> 